 *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    body {
        font-family: sans-serif;
        background: white;
    }
    .container{
        min-width: 100%;
        margin: auto;
        height: 80vh;

        background: white;
        box-shadow: 5px 5px 10px 3px rgba(red, green, blue, alpha);
    }
    .left,.right{
        width: 50%;
        /* padding: 30px; */

    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    .flex1 {
        display: flex;

    }

    .main_image {
        width: auto;
        height: auto;
    }

    .option img {
        width: 75px;
        height: 75px;
        padding: 10px;
    }

    /* .right {
        padding: 50px 100px 50px 50px;
    } */
    
        
    .h5, p, small {
        color: black;
    }

    
    p {
        margin: 20px 0 50px 0;
        line-height: 25px;
    }

    h5 {
        font-size: 15px;
    }
    label,
    .add span,
    .color span{
        width: 25px;
        height: 25px;
        background: black;
        border-radius: 50%;
        margin: 20px 10px 20px 0;
    }

    .color span:nth-child(2) {
        background: #808080;
    }

    .color span:nth-child(3) {
        background: #FFD700;
    }

    .color span:nth-child(4) {
        background: #C0C0C0;
    }

    .color span:nth-child(5) {
        background: #C4D4E0;
    }

    .color span:nth-child(6) {
        background: #020202;
    }
    .add label,
    .add span {
        background: none;
        border: 1px solid black;
        color: black;
        text-align: center;
        line-height: 25px;
        justify-content: center;
    }
    .add label {
        padding: 10px 30px 0 20px;
        border-radius: 50px;
        line-height: 0;
    }

    button {
        width: 140px;
        padding: 15px;
        border: none;
        outline: none;
        background: #C4D4E0;
        color: aliceblue;
        margin-top: 5%;
        border-radius: 15px;
        box-sizing: border-box;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out; 
    }

    /* button:hover{  
        background-color: rgba(255, 4, 4, 0.89); 
      }
      button .fa{
        margin-right: 10px;
      }
      .buy{
        background-color: rgb(0, 130, 206);
      } */

    

    @media only screen and (max-width:900px) {
        .container {
            min-width: 100%;
            /* margin: auto; */
            height: auto;
            /* padding: 20px; */
        }
        #padding-iphone {
            padding-top: 30px;
        }
        .left, .right{
            min-width: 100%
        }

        .container {
            flex-direction: column;
        }
    }

    @media only screen and (max-width:511px) {
        .container {
            min-width: 100%;
            /* padding: 20px; */
            height: auto;


        }
        .left, .right {
            padding: 0;
        }
        /* img {
            width: 100%;
            height: 100%;
        } */

        .option {
            display: flex;
            flex-wrap: wrap;
        }
    }