#icon-fill {
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;

}
/* #icon-cart {
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}
#icon-heart {
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
} */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#logo {
  animation: rotateAnimation 1s linear infinite;
}

#text-card {

  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
